{# Template pour l'accueil #}
{% extends "_layout.jinja" %}

{% block title %}Accueil | PianoServices{% endblock %}

{% block contenu %}


<div class="container mt-4">
    <h2 class="mb-4">Derniers services ajoutés</h2>
    <div class="row">
        {% if services %}
        {% for service in services %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <img src="/static/images/default.png" class="card-img-top" alt="Image par défaut">
                <div class="card-body">
                    <h5 class="card-title"> {{ service.titre }}</h5>
                    <p class="card-text">
                        <strong>Catégorie :</strong> {{ service.nom_categorie }} <br>
                        <strong>Localisation :</strong> {{ service.localisation }}
                    </p>
                    <a href="{{url_for('services.details_service', id_service=service.id_service)}}" class="btn btn-primary">Voir détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Aucun service actif pour le moment.</p>
        {% endif %}
    </div>
</div>

{% endblock %}