{% extends "_layout.jinja" %}

{% block title %}Page de confirmation | PianoServices{% endblock %}

{% block contenu %}
<div class="alert alert-success mt-4">
    ✅ succès de l'opération !
</div>
<a href="/" class="btn btn-primary mt-3">Retour à l’accueil</a>
{% endblock %}
