{% extends "_layout.jinja" %}

{% block title %}Liste de tous les services | PianoServices{% endblock %}

{% block script %}
<script defer src="/static/js/utils-ajax.js"></script>
<script defer src="{{ url_for('static', filename='js/services.js') }}"></script>
<script defer src="/static/js/recherche.js"></script>
<script defer src="/static/js/suppression_services.js"></script>
{% endblock %}
{% block contenu %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Tous les services</h2>

    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-8 col-lg-6 position-relative">

            <div class="d-flex position-relative">
                <input id="search" type="search" class="form-control" placeholder="Recherche..." aria-label="Recherche"
                    autocomplete="off" />

                <div id="chargement"
                    class="spinner-border text-primary d-none position-absolute top-50 end-0 translate-middle-y me-3"
                    role="status" style="width: 1rem; height: 1rem;">
                    <span class="visually-hidden">Chargement...</span>
                </div>
            </div>

            <ul id="resultats-recherche"
                class="list-group position-absolute top-100 start-0 w-100 z-3 d-none mt-1 shadow"></ul>

        </div>
    </div>

    <div class="row" id="row-services">
        <noscript>
            <div class="alert alert-danger text-center mt-3">
                Veuillez activer votre Javascript
            </div>
        </noscript>
    </div>
</div>
{% endblock %}
