{% extends "_layout.jinja" %}

{% block title %}Liste de tous les services | PianoServices{% endblock %}

{% block contenu %}
<div class="container mt-4">
    <h2 class="mb-4">Tous les services</h2>
    <div class="row" id="row-services">
        <noscript>
            <div class="alert alert-danger text-center mt-3">
                Veuillez activer votre Javascript
            </div>
        </noscript>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/utils-ajax.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/services.js') }}"></script>
{% endblock %}

