{% extends "_layout.jinja" %}

{% block contenu %}
<h2>Liste des utilisateurs</h2>

{% if utilisateurs %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Courriel</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Crédit</th>
      <th>Rôle</th>
      <th>supprimer</th>
      <th>modifier</th>
    </tr>
  </thead>
  <tbody>
    {% for u in utilisateurs %}
    <tr>
      <td>{{ u.id_utilisateur }}</td>
      <td>{{ u.courriel }}</td>
      <td>{{ u.nom }}</td>
      <td>{{ u.prenom }}</td>
      <td>{{ u.credit }}</td>
      <td>{{ 'Admin' if u.est_admin else 'Utilisateur' }}</td>
      <td>
      <form method="POST"
              action="{{ url_for('comptes.supprimer_compte', id_utilisateur=u.id_utilisateur) }}"
              class="form-suppression">
          <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
        </form>
    </tr>

    {% endfor %}

  </tbody>
</table>
      <a href="{{url_for('comptes.form_ajout_compter')}}" class="btn btn-primary">Ajouter</a>


{% else %}
<p>Aucun utilisateur trouvé.</p>
{% endif %}

<a class="btn btn-primary" href="{{ url_for('comptes.deconnexion') }}">Déconnexion</a>
{% endblock %}